@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
body {
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: 100% 30%;
  font-family: "Josefin Sans", sans-serif;
}

input , button{
    border: none;outline: none;
    font-family: "Josefin Sans", sans-serif;
    background-color: transparent;
}
